.cabecalho {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--chumbo);
  width: 100%;
}

.cabecalho__titulo {
  text-align: center;
  color: var(--branco);
  font-size: 4rem;
  font-family: 'Pacifico', cursive;
  margin: 2rem;
}

.cabecalho__titulo span {
  color: var(--vermelho);
}

